@font-face {
    font-family: "fa-regular-400";
    src: url("/fonts/fa-regular-400.eot");
    src:
        url("/fonts/fa-regular-400.woff") format("woff"),
        url("/fonts/fa-regular-400.otf") format("opentype"),
        url("/fonts/fa-regular-400.svg#filename") format("svg");
}

/* displaying the left border of the follow section for the footer */
.follow-us {
    border-left-style: solid;
    border-left-color: white;
}

.sidebar {
    position: sticky;
    overflow-y: scroll;
    top: 100px;
    max-height: calc(100vh - 175px);
    padding-bottom: 30px;
}

/* ::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
} */

.sidebar ul {
    list-style: none;
    margin-left: 0rem;
    padding-left: 1rem;
    list-style-type: none !important;
}

/**
* Hidden fallback
*/
[hidden] {
    display: none;
    visibility: hidden;
}

/**
* Styling top level items
*/
.sidebar > ul {
    padding-right: 2rem;
}

.sidebar li a,
.sidebar label {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #000000;
    transition: all 0.025s ease-in;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
}

.sidebar li::marker {
    margin-left: 2rem;
    margin-right: 0rem;
}

.sidebar li .has-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar li .has-child .drop-arrow {
    max-width: 26px;
    padding: 0.5rem;
}

.sidebar li:has(.is-active) a {
    color: black;
}
.sidebar .has-active > .has-child a,
.sidebar .is-active > a {
    /* background: #d5e39b3d; */
    font-weight: bold;
}
.sidebar li .is-active > a {
    background: linear-gradient(to right, #589732, #93b022);
    color: #fff;
    font-weight: bold;
}
.sidebar li a:hover {
    background: #ededed;
    color: black;
}
.sidebar li .is-active > a:hover {
    background: linear-gradient(to right, #589732, #93b022);
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
}

.sidebar label {
    cursor: pointer;
}

.sidebar li:has(> ul) {
}

/* .sidebar li:has(>ul)>a::after {
content: url(../img/arrow.svg);
border-color: none;
transform: rotate(0deg);
right: 2.75rem;
position: absolute;
} */
.sidebar .external-link a::after {
    content: url(../img/eva_external-link-fill.svg);
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    position: absolute;
}

.button {
    border-radius: 10px;
}
.narrow {
    max-width: 768px !important;
}
.rich {
    display: flex;
    align-items: center;
    margin: 1rem 0;;
}
.cont {
    padding: 50px 70px;
    border-radius: 10px;
}

.column > .rich .cont {
    padding: 40px 40px;
}
.cont :last-child {
    margin-bottom: 0px !important;
}
.has-right .cont {
    width: 66%;
    background: none;
}
.cont :nth-child(1n) {
    z-index: 1;
}
.cont::after {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 0;
    content: "";
    border-radius: 10px;
}
.has-right .cont::after {
    width: 75%;
}
.rich-right {
    width: 400px;
    padding: 50px 0;
    z-index: 1;
    align-self: normal;
}
.coloring-1::after {
    background-image: url(/img/light_blue_bg.svg);
    background-color: #ecf1f4;
}

.coloring-1 p {
    color: #475F6D;
}

.coloring-2::after {
    background-image: url(/img/community.svg);
    background-color: #eee766;
}

.coloring-3::after {
    background-image: url(/img/blue_green_bg.svg);
    background-color: #93b023;
}

.coloring-4::after{
    background-image: url(/img/blue_green_bg.svg);
    background-color: #589632;
}
.coloring-4 .is-primary1 {
    background: #eee766;
    color: #000;
}
.coloring-5::after{
    background-image: url(/img/blue_green_bg.svg);
    background-color: #55828b;
}
.coloring-6::after{
    background-image: url(/img/blue_green_bg.svg);
    background-color: #395c6b;
}

.coloring-3,
.coloring-4,
.coloring-5,
.coloring-6 {
    color: #fff;
}

.coloring-3 a,
.coloring-4 a,
.coloring-5 a,
.coloring-6 a {
    color: #eee766;
}
.coloring-3 h1,
.coloring-3 h2,
.coloring-3 h3,
.coloring-3 h4,
.coloring-3 h5,
.coloring-3 h6,
.coloring-4 h1,
.coloring-4 h2,
.coloring-4 h3,
.coloring-4 h4,
.coloring-4 h5,
.coloring-4 h6,
.coloring-4 h1,
.coloring-5 h2,
.coloring-5 h3,
.coloring-5 h4,
.coloring-5 h5,
.coloring-5 h6,
.coloring-6 h1,
.coloring-6 h2,
.coloring-6 h3,
.coloring-6 h4,
.coloring-6 h5,
.coloring-6 h6 {
    color: #fff;
}

.rich .cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content .button {
}
